
body{
    
    background-color: #a9f1df;
    
}

.general{
    display: flex;
    flex-direction: column;
    border: 3px solid #233e8b;
    background-color:#233e8b;
    margin-top:80px;
    border-radius:10px;
   
}
.hora{
display:flex;
justify-content: end;

}

.navbar{
    display:block;
    color:white;
    text-align:center;
    margin-bottom: 20px;
    background-color: #a9f1df;
    border: 1px solid #233e8b;
    border-radius:10px;
    
}

.navbar-link{
    display:block;
   text-decoration: none;
   text-transform: uppercase ;
   font-size: 2em;
   color:#233e8b;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   padding:15px;
}
.container{
  border: 1px solid grey;
  padding:5px;
  width: 85%;
  border-radius:5px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left:auto;
  margin-right: auto;
  background-color:#a9f1df;

}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
      
  
}
.tarea,
.description{
    margin-bottom: 10px;;
    border:none;
    background-color: transparent;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;;
    padding: 10px;
    color:#233e8b;
}
 

.button{
    background-color:#233e8b ;
    border:none;
    padding:10px;
    border-radius:5px;
    cursor: pointer;
    color:#a9f1df;
    width: 40%;
    margin-left:auto;
    margin-right: auto;
   
}
.button:hover{
    background-color:transparent ;
    
    border: 2px solid #0b1b43;
    color:#0b1b43;
    
   
}
.taskList{
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
    display:flex;
    justify-content: space-around;
    
    
}
.taskListShowed{
    font-size: 30px;
}
.grid{
    display:grid;
    width: 100%;
    
   
}
.gridLi{
    grid-template-columns: 150px repeat(2,1fr);
}
.editBtn{
  margin-left:20px;
  margin-right:5px;
  cursor: pointer;
  background: none;
  border:none;   
  color:white;

}
.crashBtn{
  cursor: pointer;
  background: none;
  border:none;   
  color:white;
  font-weight: 200;
}

  /*  */